*::-webkit-scrollbar {
  width: 16px;
  background: linear-gradient(#94a1ec, grey);
  border-radius: 30px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  background-color: rgb(11, 119, 1);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-popup-content p {
  margin: initial !important;
  margin: initial !important;
}

.leaflet-control-attribution {
  display: none !important;
}